<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/dfbd5701-23d2-4394-9194-11b2ac8acb77/resourcegroups/back-end20240721165227ResourceGroup/providers/Microsoft.Web/sites/back-end20240721165227</ResourceId>
    <ResourceGroup>back-end20240721165227ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/dfbd5701-23d2-4394-9194-11b2ac8acb77/resourceGroups/back-end20240721165227ResourceGroup/providers/Microsoft.ApiManagement/service/back-endapi/apis/back-end</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://back-end20240721165227.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>becf479a-9380-465e-b52e-6d1b23d5a032</ProjectGuid>
    <MSDeployServiceURL>back-end20240721165227.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>back-end20240721165227</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$back-end20240721165227</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>